.App {
  text-align: center;
}

li{
  list-style: none;
  font-size:large;
  color:darkslateblue;
}
.listItembox{
  margin-top: 60px;
}
.box{
  border: 1px solid rgb(124, 122, 122);
}

.editButton{
  margin-left: 40px;
}
.formButton{
  margin-top: 20px;
  margin-right: 10px;
}